{% extends 'front.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    {% include 'sidebar.html' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {%include 'message.html'%}
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h6">Hotel List</h1>
      </div>
      <a href="{% url 'client:export_hotels'%}" class="btn btn-primary"
        >Export Hotel</a
      >

      <div class="card-body mt-2">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>S.N</th>
              <th>Hotel Name</th>
              <th>Email</th>
              <th>Banner Image</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for hotel in hotels %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                <a href="{% url 'client:edit_hotel' hotel.id%}"
                  >{{hotel.hotel_name}}</a
                >
              </td>
              <td>{{hotel.email}}</td>
              <td>
                <img
                  height="150px"
                  width="150px"
                  src="{{hotel.banner_image.url}}"
                />
              </td>
              <td>{{hotel.city}}</td>
              <td>
                <button class="btn btn-primary mt-2">
                  <a
                    href="{% url 'client:add_image' hotel.id %}"
                    class="text text-white"
                    >Add Images</a
                  ></button
                ><br /><button class="btn btn-primary mt-2">
                  <a
                    href="{% url 'client:add_phone' hotel.id %}"
                    class="text text-white"
                    >Add Phone</a
                  ></button
                ><br /><button
                  data-hotelid="{{hotel.id}}"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  Delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Modal title
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Are You Sure You Want to delete this Hotel?
                <form
                  id="deleteform"
                  method="post"
                  action="{% url 'client:delete_hotel' %}"
                >
                  {% csrf_token %}
                  <input type="text" name="hotelid" id="_hotelid" />
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  No
                </button>
                <button id="deletebutton" type="submit" class="btn btn-danger">
                  Yes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

{% endblock %} {% block script%} {{ block.super }}
<script type="text/javascript">
  $(document).ready(function () {
    let modal = document.getElementById("exampleModal");
    modal.addEventListener("show.bs.modal", function (evt) {
      let btn = evt.relatedTarget;
      let hotelid = btn.dataset.hotelid;
      $("#_hotelid").val(hotelid);
    });
    $("#deletebutton").click(function () {
      $("#deleteform").submit();
    });
  });
</script>
{% endblock script %}
