{% extends 'front.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    {% include 'sidebar.html' %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="">
        <form method="post" action="" enctype="multipart/form-data">
          {% csrf_token %} {{ form.non_field_errors }} {% for field in form%}
          <div class="form-group my-2">
            <label> {{field.label_tag}}</label>
            {{ field }}
            <span class="text text-danger">{{ field.errors }}</span>
          </div>
          {% endfor %}

          <input
            class="btn btn-primary"
            type="submit"
            name="submit"
            value="Submit"
          />
        </form>
      </div>
    </main>
  </div>
</div>

{% endblock %}
