<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse"
>
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="{% url 'client:clientdashboard' %}"
          style="color: black"
        >
          <i class="bi bi-house-door-fill"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'client:add_hotel'%}"
          style="color: black"
        >
          <i class="bi bi-plus-square-fill"></i>
          Add Hotel
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'client:list_hotel'%}"
          style="color: black"
        >
          <i class="bi bi-list-ul"></i>
          View Hotels
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'client:list_image'%}"
          style="color: black"
        >
          <i class="bi bi-list-ul"></i>
          View Images
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'client:list_phone'%}"
          style="color: black"
        >
          <i class="bi bi-list-ul"></i>
          View Phone Number
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="{% url 'client:list_bookings'%}"
          style="color: black"
        >
          <i class="bi bi-list-ul"></i>
          Bookings
        </a>
      </ul>
    </li>
  </div>
</nav>
