
{% extends 'base_site.html' %}
{% block maincontent %} 

{% load static %}
{% if searchtext %}
<h1>You Searched For {{searchtext}}</h1>

<form method="post" action="{% url 'hotel:sort_hotel'%}">{% csrf_token %}
    {{ sort.as_p }}
    <input type="hidden" name="searchtext" value="{{searchtext}}">
    <button class="btn btn-primary" type="submit">Sort</button>
</form>
{% if form %}
<div class="row  mt-2 pt-2">
  {% for hotels in form %}

  <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  {% if hotels.banner_image %}
          <img src="{{ hotels.banner_image.url }}" class="card-img-top" height="270px" alt="{{hotels.hotel_name}}">
          {% else %}
          {% load static %}
          <img src="{% static 'images/hoteldefault.png' %}" class="card-img-top" alt="{{hotels.hotel_name}}"></a>
  {% endif %}

          <div class="card-body">
              <h5 class="card-title">{{ hotels.hotel_name}}</h5>
                <h6 class="card-title">{{ hotels.city}}</h6>
              <p class="card-text">Price Per Day:${{ hotels.price_per_day}}</p>
              <a href="{% url 'hotel:hotel_detail' hotels.id %}" class="btn btn-primary">See more</a>
          </div>
       </div>
  </div>
{% endfor %}

</div>
{% else %}
<h1>No Match  !!!</h1>

{% endif %}

{% else %}
<h1>You Forgot to search !!!</h1>
{% endif %}

  <center>
  

{% if form.has_previous %}

    <a href="?page={{form.previous_page_number}}">

      <button type="button" class="btn btn-primary btn-sm">Previous Page</button>

    </a>

{% endif%}

{% if form.has_next %}

    <a href="?page={{form.next_page_number}}">

      <button type="button" class="btn btn-secondary btn-sm">Next Page</button>

    </a>

{% endif%}
  </center>
</section>
  <script src="{% static 'js/custom_slider.js' %}"></script>

{% endblock maincontent %}

